__pycache__/
bin/
lib/
venv/
ruby_src/
.idea/
.gitignore
test_foxdot.py
*.pyc
ext/python-mingus
ext/supriya
*.DS_Store
omnisound/.DS_Store
omnisound/*/.DS_Store
omnisound/test/*.mid
*.mid
omnisound/test/*.wav
omnisound/test/*.aif
