__pycache__/
venv/
ruby_src/
.idea/
.gitignore
test_foxdot.py
*.pyc
ext/python-mingus
ext/supriya
*.DS_Store
aleatoric/.DS_Store
aleatoric/*/.DS_Store
aleatoric/test/*.mid
*.mid
omnisound/test/*.wav
omnisound/test/*.wav
